* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

header {
    width: 100%;
    height: 4rem;
}

header .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 0 0;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0 1.5rem;
}

header .left { 
    justify-content: start;
    align-items: center;
}

header li.text {
    padding-bottom: 0.5rem;
}

header .right {
    flex-direction: row-reverse;
    justify-content: end;
}

header .right li {
    margin-left: 1rem;
}

header img.logo {
    height: 2rem;
}

.topcontent {
    display: flex;
    align-items: center;
}

img.bigimg {
    margin: 2rem 1.5rem;
    width: 60%;    
}

.content .top_sidecontent {
    margin-right: 4rem;
}

.top_sidecontent h1, .top_sidecontent h2, .top_sidecontent p {
    margin: 1.5rem 0;
}

p.button {
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    border: 0;
    border-radius: 0.5rem;
    background-color: midnightblue;
    color: white;
}

.midtopcontent {
    display: flex;
    width: 100%;
}

.midtopleft {
    width: 60%;
    margin: 2rem 1.5rem;
}

.midtopleft img {
    margin-bottom: 2rem;
    width: 100%;
}

.midtopleft p.quote {
    margin: 1.5rem 0;
}

.midtopleft p.author {
    margin-bottom: 2rem;
}

.midtopright {
    width: 40%;
    margin-top: 1rem;
}

.midtopright_content {
    margin: 1rem 1rem 2rem;
}

.midtopright_part {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.midtopright_small {
    width: 35%;
    height: auto;
    margin: 0 1rem;
}

.midtopright_part .midtopright_sidecontent {
    width: 65%;
    padding-right: 2rem;
}

.midtopright_sidecontent p.info {
    margin: 0.5rem 0;
}

.midbotcontent {
    width: 100%;
}

.midbotcontent h1 {
    margin-top: 2rem;
    text-align: center;
}

.midbot_big {
    margin: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
}

.midbot_small {
    width: 30%;
    margin: 1rem;
}

.midbot_small img {
    width: 100%;
    height: auto;
}

.midbot_small_text {
    margin: 1rem 1rem 1.5rem;
}

.midbot_small_text .courses {
    margin: 0.5rem 0;
}
.botcontent {
    width: 100%;
}

.botcontent h1 {
    text-align: center;
    margin-top: 2rem;
}

.botcontent_big {
    margin: 2rem 0;
    display: flex;
    width: 100%;
}

.botcontent_left {
    margin: 0 1.5rem;
    width: 60%;
}

.botcontent_left video {
    width: 100%;
    height: auto;
}

.botcontent_left p.quote {
    margin-top: 0.5rem;
}

.botcontent_right {
    width: 40%;
    display: flex;
    flex-direction: column;
}
 .botright_part {
    display: flex;
    align-items: center;
    padding-right: 1rem;
 }

 .botright_part img {
    margin: 1rem;
    width: 35%;
    height: auto;
 }

 .botright_part p {
    margin: 0.5rem 0;
 }

 footer {
    width: 100%;
 }

 .footer_content {
    margin: 1rem 1.5rem;
    display: flex;
    flex: 0 0;
    justify-content: space-between;
    align-items: center;
 }

 .footer_content .left {
    justify-content: start;
 }

 .footer_content .right {
    flex-direction: row-reverse;
    justify-content: end;
 }

 .footer_content ul {
    list-style: none;
    display: flex;
 }

 .footer_content li {
     margin-left: 1rem;
 }
 
